<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  
      <h4 class="about content">
        <h2>About Us</h2>
         <iconify-icon icon="file-icons:ejs"></iconify-icon>
         <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
         <h4>My self Ashutosh Raj Gupta, Third Year Computer Engineering Student At D Y patil College of Engineering, Akurdi.</h4>
         <h4>I Am a  <b>Full Stack Developer and Python Developer</b>. Having a Good knowledge of UI/UX Designing.</h4>
         <h4>Love to help and work with people.</h4>
        <h4> Hobbies - listening musics,playing volleyball and Cricket.</h4>
        


      </div>
      
     <br>
     
     <h2>Contact Us</h2>
         <iconify-icon icon="file-icons:ejs"></iconify-icon>
         <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
         <h4>My Recent Project!!!</h4>
         <a class="links" href="https://portfolio-eight-omega-35.vercel.app/ " target="_blank">Projects </a>


      <%- include('./partials/footer.ejs') %>

</body>
</html>