<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  
      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel commodi minima ipsa dolore porro deserunt dignissimos deleniti laudantium. Fugiat blanditiis voluptates eius dolore officiis voluptatum magnam esse. Facilis, velit numquam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ratione officiis nulla et numquam ducimus debitis velit tempora nostrum atque facilis ipsam ad perspiciatis amet, consectetur dicta maxime ut aliquam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta iusto dolore natus deserunt, libero tenetur, minima nemo accusamus aliquid veritatis sed eos earum tempore itaque ad quisquam provident id expedita?</p>
      </div>

      <%- include('./partials/footer.ejs') %>

</body>
</html>